<h1>PRODUCTOS ACTUALIZADOS EN TIEMPO REAL. Rol: {{rol}}</h1>

<section class="realTimeContainer">
    {{!-- -------------------- div con los productos -------------------------------- --}}
    <div class="productsContainer" id="productsContainer">

    </div>
    
    {{!-- --------------------Form para agregar prods-------------------------------- --}}
    <form action="/api/products/admin" method="POST" class="addProductForm" enctype="multipart/form-data">
        <h2>Formulario para agregar un producto</h2>
        <input name="title" type="text" id="title" placeholder="Titulo">
        <input type="text" id="description" placeholder="Descripción" name="description">

        <select id="idCategory" name="idCategoria" onchange="updateCategoryName()">
            <option value=1>dormitorio</option>
            <option value=2>living</option>
            <option value=3>oficina</option>
            <option value=4>comedor</option>
        </select>

         <!-- Campo oculto para el nombre de la categoría -->
        <input type="hidden" id="categoria" name="categoria" value="dormitorio">

        <input type="number" id="price" placeholder="Precio" name="price">

        <select id="onSale" name="onSale">
            <option value="false">FULL PRICE</option>
            <option value="true">SALE</option>
        </select>

        <input type="number" id="descuento" placeholder="Descuento" name="descuento">
        <input type="number" id="stock" placeholder="Stock" name="stock">
        <input type="text" id="code" placeholder="Código" name="code">


        <select id="status" name="status">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>        
        
        <label for="thumbnail">Seleccione las imagenes</label>
        <input type="file" id="thumbnail" name="thumbnail" multiple required="true">

        <button type="submit" id="btnAdd">Agregar Producto</button>
    </form>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js" ></script>
<script src="js/admin.js"></script>