<header>
    <h1>LOGIN</h1>
</header>

<main>
    <div class="login">
        <form class="loginForm" action="/api/sessions/login"  method="POST">
            <label for="email">Ingese su correo electronico</label>
            <input type="text" name="email" id="email" placeholder="Correo"/>
            
            <label for="password">Ingese su password</label>
            <input type="password" name="password" id="password" placeholder="Password"/>
            
            <button>INGRESAR</button>
            <p>para registrarte, <a href="singinForm">click aqui.</a></p>
            <p>inicia sesión o registrate con <a href="/api/sessions/github">GITHUB.</a></p>
            <p>para restableer tu contraseña, hacer click <a href="/reset-password">aqui.</a></p>

        </form>
    </div>
</main>

<footer>

</footer>