<header>
    <h1>LOGIN</h1>
</header>

<main>
    <div class="login">
        <form class="loginForm" action="http://localhost:8080/api/session/login"  method="POST">
            <label for="email">Ingese su correo electronico</label>
            <input type="text" name="email" id="email" placeholder="Correo"/>
            
            <label for="password">Ingese su password</label>
            <input type="password" name="password" id="password" placeholder="Password"/>
            
            <button>INGRESAR</button>
            <p>para registrarte, <a href="singinForm">click aqui.</a></p>
        </form>
    </div>
</main>

<footer>

</footer>