<h1>Restablecimiento de contraseña</h1>
<form action="/api/users/passwordReset" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    
    <label for="token">Código de restablecimiento</label>
    <input type="text" id="token" name="token" required>
    
    <label for="password">Nueva contraseña</label>
    <input type="password" id="password" name="password" require>

    <button type="submit">Restablecer</button>
</form>

{{#if error}}
    <p>{{error}}</p>
{{/if}}