<h1>PRODUCTOS ACTUALIZADOS EN TIEMPO REAL</h1>

<section class="realTimeContainer">
    {{!-- -------------------- div con los productos -------------------------------- --}}
    <div class="productsContainer" id="productsContainer">

    </div>
    
    {{!-- --------------------Form para agregar prods-------------------------------- --}}
    <form action="" class="addProductForm">
        <h2>Formulario para agregar un producto</h2>
        <input type="text" id="title" placeholder="Titulo">
        <input type="text" id="description" placeholder="Descripción">

        <select id="idCategory">
            <option value=1>dormitorio</option>
            <option value=2>living</option>
            <option value=3>oficina</option>
            <option value=4>comedor</option>
        </select>

        <input type="text" id="img" value="[]" placeholder="imagenes (predefinido array vacio)">
        <input type="number" id="price" placeholder="Precio">

        <select id="onSale">
            <option value="false">FULL PRICE</option>
            <option value="true">SALE</option>
        </select>

        <input type="number" id="descuento" placeholder="Descuento">
        <input type="number" id="stock" placeholder="Stock">
        <input type="text" id="code" placeholder="Código">


        <select id="status">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>

        <button type="button" id="btnAdd">Agregar Producto</button>
    </form>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js" ></script>
<script src="js/index.js"></script>