body{
    margin: 0;
}

h1{
    text-align: center;
}

/*------------------------------------------------- PRODUCTS VIEWS */
.logedUser{
    display: flex;
    margin: 2% 5%;
    justify-content: space-between;
    align-items: center;
    div{
        p{
            color: gray;
            span{
                color:rgb(84, 102, 92);
                background-color: rgb(202, 198, 198);
                margin-left: 5px;
            }
        }
    }
    form{
        height: auto;

        button{
            height: auto;
            background-color: rgb(146, 94, 94);
            border-radius: 10px;
            height: 4rem;
            a{
                cursor: pointer;
                padding: 22px 18px 28px 18px;
                height: 4rem;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.notLogedUser{
    display: flex;
    margin: 2% 5%;
    justify-content: space-between;
    align-items: center;
    div{
        p{
            color: gray;
        }
    }
    form{
        height: auto;

        button{
            height: auto;
            background-color: rgb(117, 192, 151);
            border-radius: 10px;
            height: 4rem;
            a{
                cursor: pointer;
                padding: 22px 18px 28px 18px;
                height: 4rem;
                text-decoration: none;
                color: white;
            }
        }
    }
}


.cardsContainer{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 2% 5%;
    background-color: rgb(175, 187, 187);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    border: 1px solid black;
    margin: 10px; 
    color: rgb(56, 56, 56);
    text-align: center;

    span{
        font-weight: 800;
        color: black;
    }

}

.statusTrue{
    background-color: rgb(117, 192, 151);
}
.statusFalse{
    background-color: rgb(155, 116, 116);
}

.busqueda{
    display: flex;
    align-items: center;
    flex-direction: column;

    .nav{
        display: flex;
        justify-content: space-evenly;
        width: 40vw;
        padding-bottom: 20px;
        .pagination{
            text-align: center;
            width: 50%;
        }
        .btn{
            width: 25%
        }
        a{
            text-decoration: none;
            color: black;
            font-size: large;

        }
        .selected_page{
            color: rgb(57, 131, 69);
        }
    }
    .filtros{        
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        text-align: center;

        div{
            background-color: rgb(175, 187, 187);
        }
    }
}




/* --------------------------------------------------------------REAL TIME VIEWS */
.realTimeContainer{
    display: flex;
    flex-wrap: nowrap;
}

.productsContainer{
    display: flex;
    flex-direction: column;
    width: 70% ;
    gap: 10px;
}

.realTimeProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 0 10px 0 10px;
    
    padding: 5px 0; 
    color: rgb(56, 56, 56);
    text-align: center;
    
    p{
        margin: 2px;
    }
    span{
        font-weight: 800;
        color: black;
    }
}

.addProductForm{
    border: 1px solid black;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 29%;

    input{
        margin: 3px;
        text-align: center;
    };

    select{
        margin: 3px;
        text-align: center;
    }

    button{
        margin: 3px;
    }
}

/*------------------------------------------------- CARTS VIEWS */

.cart{
    p{
        margin: 1px;
    }
    padding: 10px;
    text-align: center;
    background-color: rgb(173, 172, 172);
    margin :10px 0;
    .id{
        margin-bottom: 10px;
    }
    .cartItems{
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        .prodItem{
            background-color: gray;
            border: 1px solid black;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 15vw;
        }
    }
}

/*------------------------------------------------- LOGIN FORM */
.login{
    margin: 2% 5%;
    .loginForm{
        display: flex;
        flex-direction: column;
        input{
            margin: 0 0 2% 0;
        }
        p{
            margin:0 ;
        }
    }
}

/*------------------------------------------------- SINGIN FORM */
.singin{
    margin: 2% 5%;
    .singinForm{
        display: flex;
        flex-direction: column;
        input{
            margin: 0 0 2% 0;
        }
        p{
            margin:0 ;
        }
        button{
            cursor: pointer;
        }
    }
}